<server description="Game On! CarRoom Service">

    <!-- Enable features -->
    <featureManager>
        <feature>websocket-1.1</feature>
        <feature>jsonp-1.0</feature>
        <feature>jndi-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080"  id="defaultHttpEndpoint"/>

    <logging traceSpecification="*=info"/>

    <!-- This is required to prevent the web apps from being lazily loaded -->
    <webContainer deferServletLoad="false"/>

    <applicationMonitor dropinsEnabled="false"/>
    
    <!-- The place that this service will be availble on. This is what GameOn will try to connect a player to -->
    <jndiEntry jndiName="carSvcUrl" value="${env.CONNECTION_URL}"/>

    <!-- This is the location where new rooms need to be registered -->
    <jndiEntry jndiName="mapSvcUrl" value="${env.MAP_URL}"/>

    <!-- This is your developer key that you can find in your profile in GameOn -->
    <jndiEntry jndiName="ownerKey" value="${env.OWNER_KEY}" />

    <!-- This is the long ID associated with your account. This is found under your profile in GameOn -->
    <jndiEntry jndiName="ownerId" value="${env.OWNER_ID}" />

    <!-- This is the place that this room will talk to so it can send drive commands to the car -->
    <jndiEntry jndiName="carEndPoint" value="${env.CAR_URL}" />

    <webApplication id="carroom-app" location="carroom-app.war" name="carroom-app"/>
</server>
